/* styles.css */

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.hero-section {
    background-color: #1F2937;
    padding: 32px;
    padding-top: 0;
}

.header-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-section {
    margin: 0;
    padding: 0;
    list-style-type: none;

    display: flex;
    gap: 14px;
}

a {
    text-decoration: none;
}

a, .hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

.logo-text, .hero-text {
    color: #F9FAF8;
}

.logo-text {
    font-size: 24px;
}

.hero-text {
    font-size: 48px;
    margin: 0;
}

button {
    background-color: #3882FB;
    border-radius: 8px;
    padding: 3px 20px;
    color: #F9FAF8;

}

.main-hero-section {
    display: flex;
    justify-content: center;
}

.hero-text-section {
    display: flex;
    width: 500px;
    /* flex: 0; */
    flex-direction: column;
    /* flex: 0; */
    margin: 20px;
    margin-right: 0;
}

.hero-img-placeholder {
    width: 400px;
    height: auto;
    margin: 40px;
    color: white;
    background-color: gray;
    /* flex: 0; */

    display: flex;
    justify-content: center;
    align-items: center;
}

.images-container {
    display: flex;
}

.info-img-placeholder {
    width: 50px;
    height: 50px;
    padding: 20px;
    border-radius: 8px;
    /* height: auto; */
    /* background-color: red; */
    border: 2px solid blue;
}

.info-img-container {
    display: flex;
    flex-direction: column;
    width: 100px;
}

.info-img-text {
    font-size: 10px;
    text-align: center;
}

.images-container {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.info-section-title {
    text-align: center;
}

.info-section {
    padding: 24px;
}

.quote-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */
    background-color: #E5E7EB;
    padding: 40px 32px;
    /* width: 800px; */
    
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-style: italic; 
    margin: 0;
    /* flex: 1; */
    width: 800px;
}

.quote-author {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    width: 800px;
}

.banner-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    background-color: #3882F6;
    width: 800px;
    margin: 40px;
    border-radius: 8px;
    padding: 20px;

    display: flex;
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    justify-content: space-around;
}

.banner-title, .banner-sub-text {
    /* flex: 1; */
    color: #F9FAF8;
}

.banner-title {
    font-weight: bold;
}

.banner-sub-text {
    font-size: 12px;
}

.banner-text-container {
    display: flex; 
    flex-direction: column;
    /* justify-content: space-around; */
}

p {
    margin: 0;
    padding: 0;
}

.footer-section {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #1F2937;
    padding: 24px;
    color: #F9FAF8;
}